<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.develop.test.user.mapper.UserMapper">
    <select id="selectUser" resultType="com.develop.test.user.model.User">
		SELECT ID    as id
		       ,NAME as name
		       ,AGE  as age
		FROM user
		ORDER BY ID    
    </select>
    <select id="selectUserById" parameterType="com.develop.test.user.model.User" resultType="com.develop.test.user.model.User">
		SELECT ID    as id
		       ,NAME as name
		       ,AGE  as age
		FROM user
		WHERE ID = #{id}
    </select>
    <insert id="insertUser" parameterType="com.develop.test.user.model.User">
    	INSERT INTO user(
    		ID,
    		NAME,
    		AGE
    	) VALUES (
    		#{id},
    		#{name},
    		#{age}
    	)
    </insert>
    <update id="updateUser" parameterType="com.develop.test.user.model.User">
    	UPDATE user
    	SET NAME = #{name},
    	    AGE = #{age}
    	WHERE ID = #{id}
    </update>
    <delete id="deleteUser" parameterType="com.develop.test.user.model.User">
    	DELETE FROM user
    	WHERE ID=#{id}
    </delete>
</mapper>